*{
  box-sizing: border-box;
}

body{
  margin: 0;
  display: block;
  font-family: Arial, Helvetica, serif;
}

header {
  
  display: block;
  height: 500px;
  position: relative;
}

header ul {
  margin: 0;
  padding: 0;
}


header .container {
  position: relative;
}

.hello{
  position: absolute;
  top: 50px;
  left: 150px;
  font-size: 40px;
  font-family: 'Poppins', sans-serif;
  color: #FFFF;
  opacity: 0.7;
}


header .container h1 {
  position: absolute;
  z-index: 100;
}

.myphoto {
  display: block;
  margin-left: 20px;
  
}

main{
  opacity: 0.9;
  padding: 0;
  margin-top: 0;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(143, 238, 238, 0.5);
 
  opacity: 0.7;
  display: block;
  z-index: 90;
}

main .container{
  text-align: center;

}

main .container p {
  margin-right: 20px;
}
.about{
  display: flex;
}

main .container a{
  text-decoration: none;
  color: grey;
}



.myphoto {
  border-radius: 10px;
  height: 112px;
  width: 100px;
  margin-top: 20px;
}

.skills {
  /* background-color: #ff00ff; */
  padding-bottom: 100px;
}

.works {
  /* background-color: #efef; */
  padding-bottom: 100px;
  opacity: 0.5;
}

.contact{
  /* background-color: yellowgreen; */
  padding-bottom: 100px;
  opacity: 0.5;
}
footer{
  background-color: yellow;
}

.menu{
  width: 100%;
  background-color: turquoise;
  /* background-color: #EEEE; */

  height: 50px;
  padding-bottom: 5px;
  position: fixed;
  z-index: 100;
 
}

#aboutme{
cursor: pointer;
}

.menu li{
  
  list-style-type: none;
  display: inline-block;
  margin-right: 10px;
  font-size: 20px;
  color: white;
  float: left;
}

.menu ul{
  float: center;
}

.about-container {
  background-color: #FFFFCC;
  height: 82.5mm;
  width: 136.5mm;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: bold;
  position: absolute;
  top: 90px;
  left: 350px;
  display: inline-block;
  z-index: 100;
  display: none;

}

.about-container p {
  margin-right: 15px;
  margin-left: 15px;
  display: inline-block;
}

.name {
  display: inline-block;
  font-size: 35px;
  margin-left: 15px;
  margin-top: 30px;
  font-family: serif;
}

.about-container h3 {
  margin: 0;
  text-align: right;
  margin-right: 20px;
}

.about-container .tel {
  margin-right: 70px;
}
 
.profile-container {
  text-align: left;
}

.fa-times{
  float: right;
  margin: 20px
}

.profile-container span{
font-size: 12px;
}

.can{
  font-size: 20px;
  color: blue;
}

.works{
  background-color: chartreuse;
  opacity: 0.7;
  cursor: pointer;
 
}

.works:hover{
  opacity: 1;
}

.works h1{
font-size: 100px;
margin-top: auto;
margin-bottom: auto;
/* background-color: cyan; */
padding-top: 100px;
letter-spacing: 5px;

}

input, textarea{
  display: block;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px;
  width: 200px;
}

.english{
  float: right;
  padding-right: 20px;
}

@media(max-width: 1024px){

  input, textarea{
    width: 70%;
  }
textarea{
  height: 50px;
}

#submit-btn{
  width: 30%;
  height: 30px;
  font-weight: bold;
}

}
